<h1>Your Mood History</h1>

<section class="moods">

  <% if @moods.empty? %>
    <div class="intro-explain">
      <p>Hi! This is where you'll see your mood history once you begin using our extension. If you haven't already, <a href="https://chrome.google.com/webstore/detail/facebook-mood/jinjghhellcpaoljlkoeagjpikoeggaf?hl=en">download it here</a>.</p>
      <p>Once that's done, it'll begin asking you how you feel when you exit facebook, as long as you spent more than 30 seconds on the site.</p>
      <p>Each mood you enter will show up here on a timeline.</p>
    </div>
  <% else %>
    <section class="summary">
      <p>You've mostly been [mood] this month, and when you're [mood] you usually spend [duration] on facebook</p>
      <p>Here's a breakdown of all your moods</p>
      <figure class="breakdown">
        <% Mood::OPTIONS.each do |mood_option| %>
          <span class="<%= mood_option %>"><%= mood_option %></span>
        <% end %>
      </figure>
    </section>
  <% end %>

  <% @moods.each do |mood| %>
    <div class="mood" class="<%= mood.label %>">
      <span class="meta"><span class="timestamp"><%= mood.created_at.strftime("%b %d, %Y at %I:%M%p") %></span> <span class="duration"><%= "%.2f" % (mood.duration.to_f / 60) %> minutes</span></span>
      <figure class="<%= mood.label %>">
        <p><%= mood.label %></p>
      </figure>
    </div>
  <% end %>

</section>
