<h1>New Mood Entry</h1>

<section class="moods-form-wrapper">
  <div class="mood-form">
    <span class="meta">You were on facebook for <span class="duration"><%= "%.2f" % (@mood.duration.to_f / 60) %> minutes</span></span>
    <span class="herald">how are you feeling?</span>
    <figure>
      <%= form_for @mood do |f| %>
        <% Mood::OPTIONS.each do |mood_option| %>
          <span class="option <%= mood_option %>"><%= mood_option %></span>
        <% end %>
        <%= f.hidden_field :label %>
        <%= f.hidden_field :duration, :value => @mood.duration %>
      <% end %>
    </figure>
  </div>
</section>
