<h1>New Mood Entry</h1>

You were on facebook for <%= @mood.duration %> seconds, how are you feeling?

<%= form_for @mood do |f| %>
  <%= f.select(:label, Mood::OPTIONS) %>
  <%= f.hidden_field :duration, :value => @mood.duration %>
  <%= f.submit 'Submit' %>
<% end %>