<hgroup>
  <h1>Before we can get your mood</h1>
  <h2>We need you to...</h2>
</hgroup>

<section class="signup">
  <h2>Sign up!</h2>
  <%= form_for @user do |form| %>
    <%= form.text_field :email, :type => 'email', placeholder: 'email' %>
    <%= form.password_field :password, placeholder: 'password' %>
    <%= form.submit "Let's Goooooo!" %>
  <% end %>
</section>

<section class="signin">
  <h2>or if you have an account already...</h2>
  <%= form_for :session, :url => session_path do |form| %>
    <%= form.text_field :email, :type => 'email', placeholder: 'email' %>
    <%= form.password_field :password, placeholder: 'password' %>
    <%= form.submit 'Sign in' %>
  <% end %>
</section>


